
$red_color: #E65C43;
$headline_color: #F25C43;
$white_color: #FFF;
$gray_color: #666;
$graybar_color: #F5F6F6;
$footer_background_color: #30353D;


$font_family: 'Roboto', sans-serif;
$body_font_size: 1em;
$background_image_url: '../images/bg.gif';
$main_width: 940px;

$mediaH1Font: 3em;
$mediaH2Font: 1.5em;
$fontSize1: 1em;
$fontSize2: 1.4em;
$fontSize3: 1.6em;
$mediaBP1: 469px;
$mediaBP2: 777px;
$mediaBP3: 969px;
$h1Size: 4em; 
$h2Size: 2.5em; 
$h3Size: 2em;

$navUrl: '../images/logo.png';
$navUrlLiSize: 0.8em;



$social_media_img: '../images/social-media.png';
$social_media_px_x: -38px;
$social_media_px_y: 0;


